<div class="" id="evidence-<%=evidence.id%>">

  <div class="card ">
    <img class="card-img-top" src="<%= evidence_image_helper(evidence) %>">

    <div class="card-block" >
      <div class="profile">
        <div class="profile-avatar filter bg-<%= competency_color_helper(evidence) %>">
          <%= evidence.competency %>
        </div>
      </div>
      <div class="profile-2">
        <div class="profile-avatar bg-<%= competency_color_helper(evidence) %>">
          <%= evidence.level %>
        </div>
      </div>
      <%= link_to 'Edit', edit_evidence_path(evidence), class: 'btn btn-outline-primary  d-float float-right btn-sm' %>

      <h4 class="card-title mt-3"><%= evidence.title %></h4>
      <div class="card-text"><b>Summary: </b><em><%=evidence.summary%></em></div>
      <div class="card-text">
        <b>Evidence</b>
        <%= truncate(raw(evidence.report), length: 190, escape: false) %>
      </div>
    </div>
    <div class="card-footer">
      <small><%=evidence.updated_at.strftime("Updated on %m/%d/%Y")%> </small>
      <%= link_to 'Delete', evidence_path(evidence), method: 'delete', data: { confirm: 'Are you sure you want to remove this evidence?'}, class: 'btn btn-outline-danger float-right btn-sm' %>
    </div>
  </div>
</div>
