
<div class="row">
  <div class="col-md-2 col-lg-2 d-none d-lg-block">
    <div class="card">

      <div class="card-body">

        <%= link_to 'Add Evidence', new_evidence_path, class: 'btn btn-warning ' %>
        <hr>
        <h5>Summary</h5>
        <% competency_review_helper.each do |key, value| %>
            <span><%= key %></span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-<%= competency_color_getter(key[0]) %>" role="progressbar" style="width: <%=value*25%>%" aria-valuenow="<%=value%>" aria-valuemin="0" aria-valuemax="4"></div>
            </div>
        <% end %>


      </div>
    </div>
  </div>
  <div class="col-lg-10">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2" id="sortButton">
              <%= select_tag :sortSelect, options_for_select([['Newest first','data-created'],['Recently updated', 'data-updated']]), class: 'form-control', id: 'sortSelect' %>
            </div>
            <div class="col-md-12">
              <hr>
              <div class="clearfix"></div>
            </div>
            <div class="col-md-10">
              <div class="btn-group d-block" data-toggle="buttons">
                <label onclick="myFunction(this)" class="btn btn-outline-secondary active">None
                  <input type="radio" name="options" id="option0" autocomplete="off" checked>
                </label>
                <% competency_list_helper.each_with_index do |filter_button, index| %>
                    <label onclick="myFunction(this)" class="btn btn-outline-secondary"><%=filter_button%>
                      <input type="radio" name="options" id="option<%=index+1%>" autocomplete="off" checked>
                    </label>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row" id="my-competencies">
      <% @evidences.each do |evidence| %>
          <div class="col-sm-6 col-md-4 col-lg-3 mt-4 evidence-card" id="evidence-parent-<%=evidence.id%>"
               data-groups='["<%=evidence.competency%>"]' data-created="<%= evidence.created_at.to_i %>" data-updated="<%= evidence.updated_at.to_i %>">
            <%= render 'evidences/card', evidence: evidence %>
          </div>
      <% end %>
    </div>
  </div>
</div>





