<span class="navbar-text mb-2 mr-sm-2 text-light">Log in: </span>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-inline'}) do |f| %>

    <%= f.email_field :email, autofocus: true, class: 'form-control mb-2 mr-sm-2', placeholder: 'email' %>

    <%= f.password_field :password, autocomplete: 'off', class: 'form-control mb-2 mr-sm-2', placeholder: 'password' %>


    <% if devise_mapping.rememberable? -%>
        <div class="form-check mb-2 mr-sm-2">
          <%= f.check_box :remember_me, class: 'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label text-light' %>
        </div>
    <% end -%>

    <%= f.submit 'Log in', class: 'btn btn-warning mb-2 mr-sm-2' %>

<% end %>
